<div class="container centered">
  <form (ngSubmit)="onButton(loginForm.value)" #loginForm="ngForm" class="centered">
    <h1>Login</h1>
    <mat-form-field class="centered">
      <mat-label>Username</mat-label>
      <input matInput type="text" name="login" ngModel/>
    </mat-form-field>
    <mat-form-field class="centered">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="pass" ngModel/>
    </mat-form-field>
    <button mat-raised-button type="submit">Sign in!</button>
  </form>
</div>
