<h1>Hello, {{login}}</h1>

<div class="task-div add-a-little-space-below">
  <select name="howManyAssigned" class="selection">
    <option value="10">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
  </select>
  <table class="task-navigation-table">
    <thead>
      Your active tasks:
    </thead>
    <tbody>
      <tr *ngFor="let task of tasks">
        <td>{{task.id}}</td>
        <td>{{task.type}}</td>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.client}}</td>
        <td>{{task.assignment}}</td>
        <td>{{task.owner}}</td>
        <td>{{task.start}}</td>
        <td>{{task.end}}</td>
        <td>{{task.creation}}</td>
      </tr>
    </tbody>
  </table>
</div>
<select name="howManyActive" class="selection">
  <option value="10">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="50">50</option>
</select>
<div class="task-div">
  <table class="task-navigation-table">
    <thead>
      Free to take tasks:
    </thead>
    <tbody>
      <tr>
        <td>TaskId</td>
        <td>TaskType</td>
        <td>TaskTitle</td>
        <td>TaskDesc</td>
        <td>TaskClient</td>
        <td>TaskAssignedTo</td>
        <td>TaskOwner</td>
        <td>TaskEnded</td>
        <td>TaskCreationDate</td>
      </tr>
    </tbody>
  </table>
</div>
