<h1>Hello, {{login}}</h1>

<div class="task-div add-a-little-space-below">
  <p>Your active tasks:</p>
  <select name="howManyAssigned" class="selection" (change)="selectActiveChangeHandler($event)" [(ngModel)]='selectionActive'>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
  </select>
  <table class="task-navigation-table">
    <thead>
    <tr>
      <th>Id</th>
      <th>Type</th>
      <th>Title</th>
      <th>Description</th>
      <th>Client</th>
      <th>Assignment</th>
      <th>Owner</th>
      <th>Start</th>
      <th>End</th>
      <th>Creation</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let task of activetasks.tasks" (click)="selectTask(task)" class="task-row">
      <td>{{task.taskId}}</td>
      <td>{{task.taskType}}</td>
      <td>{{task.taskTitle}}</td>
      <td>{{task.taskDescription}}</td>
      <td>{{task.taskClient}}</td>
      <td>{{task.taskAssignment}}</td>
      <td>{{task.taskOwner}}</td>
      <td>{{task.taskStart}}</td>
      <td>{{task.taskEnd}}</td>
      <td>{{task.taskCreationDate}}</td>
    </tr>
    </tbody>
  </table>
</div>
<select name="howManyActive" class="selection" (change)="selectFreeChangeHandler($event)" [(ngModel)]='selectionFree'>
  <option value="5">5</option>
  <option value="10">10</option>
  <option value="15">15</option>
  <option value="20">20</option>
  <option value="30">30</option>
  <option value="50">50</option>
</select>
<div class="task-div">
  <p>Free to take tasks:</p>
  <table class="task-navigation-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Title</th>
        <th>Description</th>
        <th>Client</th>
        <th>Assignment</th>
        <th>Owner</th>
        <th>Start</th>
        <th>End</th>
        <th>Creation</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of freetasks.tasks" (click)="selectTask(task)" class="task-row">
        <td>{{task.taskId}}</td>
        <td>{{task.taskType}}</td>
        <td>{{task.taskTitle}}</td>
        <td>{{task.taskDescription}}</td>
        <td>{{task.taskClient}}</td>
        <td>{{task.taskAssignment}}</td>
        <td>{{task.taskOwner}}</td>
        <td>{{task.taskStart}}</td>
        <td>{{task.taskEnd}}</td>
        <td>{{task.taskCreationDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
