<div class="task-div add-a-little-space-below">
  <div class="pagination-control">
    <button mat-raised-button (click)="firstPageButton()">First page</button>
    <button mat-raised-button (click)="previousPageButton()">Previous page</button>
    <form #pageForm="ngForm" (ngSubmit)="goTo(pageForm.value.page, pageForm.value.pageSize)" class="page-jump">
      <mat-form-field>
        <mat-label>Page</mat-label>
        <input matInput type="text" name="page" ngModel/>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Page size</mat-label>
        <input matInput type="text" name="pageSize" ngModel/>
      </mat-form-field>
      <button mat-raised-button type="submit">Jump to</button>
    </form>
    <button mat-raised-button (click)="nextPageButton()">Next page</button>
    <button mat-raised-button (click)="lastPageButton()">Last page</button>
  </div>
  <div class="additional">
    <mat-select name="howManyTasksPerPage" class="selection" (selectionChange)="selectTaskPerPageHandler($event)" placeholder="Select tasks per page">
      <mat-option [value]="5">5</mat-option>
      <mat-option [value]="10">10</mat-option>
      <mat-option [value]="15">15</mat-option>
      <mat-option [value]="20">20</mat-option>
      <mat-option [value]="30">30</mat-option>
      <mat-option [value]="50">50</mat-option>
    </mat-select>
    <mat-label>Total pages: {{paged.totalPages}}</mat-label>
    <mat-label>Page: {{paged.pageNumber}}</mat-label>
  </div>
  <div>
    <table mat-table class="mat-elevation-z8 task-navigation-table" ng-table="taskTable">
      <thead>
        <tr mat-header-row>
          <th mat-header-cell>Id</th>
          <th mat-header-cell>Type</th>
          <th mat-header-cell>Title</th>
          <th mat-header-cell>Description</th>
          <th mat-header-cell>Client</th>
          <th mat-header-cell>Assignment</th>
          <th mat-header-cell>Owner</th>
          <th mat-header-cell>Start</th>
          <th mat-header-cell>End</th>
          <th mat-header-cell>Creation</th>
        </tr>
      </thead>
      <tbody *ngIf="paged !== undefined">
      <tr mat-row *ngFor="let task of paged.data" (click)="selectTask(task)" class="task-row">
            <td mat-cell>{{task.taskId}}</td>
            <td mat-cell>{{task.taskType}}</td>
            <td mat-cell>{{task.taskTitle}}</td>
            <td mat-cell>{{task.taskDescription}}</td>
            <td mat-cell>{{task.taskClient}}</td>
            <td mat-cell>{{task.taskAssignment}}</td>
            <td mat-cell>{{task.taskOwner}}</td>
            <td mat-cell>{{task.taskStart}}</td>
            <td mat-cell>{{task.taskEnd}}</td>
            <td mat-cell>{{task.taskCreationDate}}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
