<div>
  <form class="form">
    <div class="left-side">
      <label>{{task.taskId}}</label>
      <label>Client: {{task.taskClient}}</label>
      <label>Type: {{task.taskType}}</label>

      <label>Created: {{task.taskCreationDate}}</label>
      <label>Mail?: {{task.createdByMail}}</label>
      <label>Description:</label>
      <label class="description">{{task.taskDescription}}</label>
    </div>
    <div class="right-side">
      <label>Started: {{task.taskStart}}</label>
      <input type="button" value="Start task" />
      <label>Ended: {{task.taskEnd}}</label>
      <input type="button" value="End task" />
      <label>Assigned to: {{task.taskAssignment}}</label>
      <select name="assign-user" class="buttons" (change)="selectAssignmentHandler($event)">
        <option value="null"></option>
        <option *ngFor="let user of users.users" [ngValue]="user.username">{{user.username}}</option>
      </select>
      <label>Owned by: {{task.taskOwner}}</label>
      <select name="owner-user" class="buttons" (change)="selectOwnerHandler($event)">
        <option value="null"></option>
        <option *ngFor="let user of users.users" [ngValue]="user.username">{{user.username}}</option>
      </select>

    </div>
    <div class="break"></div>
    <div class="center-element">
      <textarea type="text" class="description" value="{{task.employeeDescription}}"></textarea>
      <input type="button" class="buttons" value="Update!" />
    </div>
    
  </form>

</div>
